# Ignore all
*

# Unignore all with extensions
!*.*

# Ignore terraform plan, variable, backup and state files
terraform.tfplan
terraform.tfstate
terraform.tfvars
*.backup
*.tfstate.*

# Ignore terraform hidden folder
/.terraform

# Ignore IDE files
.idea
