openapi: 3.0.2
info:
  title: Couchbase Capella Management API
  version: v4.0
  description: |
    The Couchbase Capella Management API provides a set of REST APIs for creating and managing Capella instances.
    It enables users to perform operations such as creating new Capella instances, managing their configurations, and interacting with the Capella services.
    This API documentation specifies the endpoints, request and response formats, and authentication requirements for seamless integration with Couchbase Capella.

    To access the Management API, you need an API key.
    To create an initial bootstrap API key you must use the Capella UI.
    Once you have created an initial bootstrap API key, you can use the Management API itself to create further API keys.
    To learn more, see [Get Started with the Management API v4.0](https://docs.couchbase.com/cloud/management-api-guide/management-api-start.html).

    For a history of updates to the Management API, see [Management API v4.0 Change Log](https://docs.couchbase.com/cloud/management-api-guide/management-api-log.html).

    **API Base URL:**

    `https://cloudapi.cloud.couchbase.com`

    [Back to Management API v4.0 Documentation](https://docs.couchbase.com/cloud/management-api-guide/management-api-intro.html)
servers:
  - url: 'https://cloudapi.cloud.couchbase.com'
security:
  - token: []
paths:
  '/v4/organizations/{organizationId}/cloudAccounts':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    get:
      summary: Get Cloud Accounts
      description: |
        Fetches the cloud account ID associated with the organization. Use this account ID when adding CMEK to other AWS databases in your organization.

        To learn more, see [CMEK at Rest](https://docs.couchbase.com/cloud/security/cmek.html).

        In order to access this endpoint, the provided API key must have at least one of the following roles:
          - Organization Owner
          - Project Creator
          - Organization Member

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: getCloudAccounts
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudAccounts'
          description: Successfully fetched the cloud account ID associated with the organization.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/apikeys':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      summary: Create API Key
      description: |
        Creates a new API key under an organization.

        Organization Owners can create Organization and Project scoped API keys.

        Project Owner and Project Creator can create project scoped keys.

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Api Keys
      operationId: postOrganizationAPIKeys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
            examples:
              createOrganizationOwnerAPIKey:
                value:
                  name: Organization Owner API Key
                  description: Creates an API key with a Organization Owner role.
                  expiry: 720
                  allowedCIDRs:
                    - 8.8.8.8/32
                  organizationRoles:
                    - organizationOwner
                  resources: []
              createProjectOwnerAPIKey:
                value:
                  name: Project Owner API Key
                  description: Creates an API key with a Project Owner role.
                  expiry: 720
                  allowedCIDRs:
                    - 8.8.8.8/32
                  organizationRoles:
                    - organizationMember
                  resources:
                    - id: ffffffff-aaaa-1414-eeee-000000000000
                      roles:
                        - projectOwner
      responses:
        '201':
          description: Successfully created an API key under an organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAPIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List API keys
      description: |
        Lists all the API keys under an organization.

        Organization Owners can list all the API keys inside the Organization.

        Organization Members and Project Creators can list all the Project scoped API key for which they are Project Owner.

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Api Keys
      operationId: listOrganizationAPIKeys
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/APIKeysSortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed all the apikeys under an organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAPIKeys'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/apikeys/{ApiKeyId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/AccessKey'
    get:
      summary: Get API Key
      description: |
        Fetches the details of the given API key under an organization.

        Organization Owners can get any API key inside the Organization.

        Organization Members and Project Creator can get any Project scoped API key for which they are Project Owner.

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Api Keys
      operationId: getOrganizationAPIKeyByAccessKey
      responses:
        '200':
          description: Successfully fetched the API key by its Access key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAPIKey'
              examples:
                createOrganizationOwnerAPIKey:
                  value:
                    id: IS9DrRsw4KWFS72Zhbj4xmhllHvPcdCL
                    name: Organization Owner API Key
                    description: Creates an API key with an Organization Owner role.
                    expiry: 720
                    allowedCIDRs:
                      - 8.8.8.8/32
                    organizationRoles:
                      - organizationOwner
                    resources: []
                    audit:
                      createdBy: ffffffff-aaaa-1414-eeee-000000000000
                      createdAt: '2021-09-01T12:34:56Z'
                      modifiedBy: ''
                      modifiedAt: '2021-09-01T12:34:56Z'
                      version: 1
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete API Key
      description: |
        Deletes the given API key under an organization.

        Organization Owners can delete any API key inside the Organization.

        Organization Members and Project Creator can delete any Project scoped API key for which they are Project Owner.

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Api Keys
      operationId: deleteOrganizationAPIKey
      responses:
        '204':
          description: Successfully deleted the API key by its Access key.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/apikeys/{ApiKeyId}/rotate':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/AccessKey'
    post:
      summary: Rotate API Key
      description: |
        Rotate the secret of a given API key under an organization.

        Organization Owners can rotate any API key inside the Organization.

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Api Keys
      operationId: postOrganizationAPIKeyRotate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateAPIKeyRequest'
            examples:
              rotateOrganizationOwnerAPIKey:
                value:
                  secret: GaC4FQLCoUqoKUMBvl6BgRK1Ivqu5yF8OkDBhnP%#CH%S4T@bTVUdP#rY#VSicbx
      responses:
        '200':
          description: Successfully rotated the API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateAPIKeyResponse'
              examples:
                rotateOrganizationOwnerAPIKey:
                  value:
                    secretKey: GaC4FQLCoUqoKUMBvl6BgRK1Ivqu5yF8OkDBhnP%#CH%S4T@bTVUdP#rY#VSicbx
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      summary: Create Project
      description: |
        Creates a new project under the organization.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Creator

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Projects
      operationId: postProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Successfully created a project under the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Project
      description: |
        Lists all the projects under the organization.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Project Viewer
        - Database Data Reader/Writer
        - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Projects
      operationId: listProjects
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/ProjectsSortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed all the projects under the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
    get:
      summary: Get Project
      description: |
        Fetches the details of the given project.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Project Viewer
        - Database Data Reader/Writer
        - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Projects
      operationId: getProjectByID
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully fetched the project based on the projectId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update Project
      description: |
        Update project name and or project description.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      parameters:
        - $ref: '#/components/parameters/If-Match'
      tags:
        - Projects
      operationId: putProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '204':
          description: Successfully updated the project metadata.
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Project
      description: |
        Deletes an existing project.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Projects
      operationId: deleteProjectByID
      responses:
        '204':
          description: Successfully deleted the project by its projectId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/freeTier':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
    post:
      summary: Create Free Tier Cluster
      description: |
        Creates a free tier cluster.  This is a 1 node cluster than only runs data, query, index and search services.

        You can have at most 1 free tier cluster per tenant.

        The following features are not available for free tier clusters:
          - backup/restore
          - private endpoint service
          - network peering
          - audit logs
          - alert integration
          - CMEK
          - on/off schedule

        Only cluster name, description, CSP, region and CIDR are configurable.

        There are limited regions available based on CSP:
          a. for AWS they are us-east-2, eu-west-1, ap-southeast-1
          b. for GCP they are us-central1, europe-west1, asia-east1
          c. for Azure they are eastus, swedencentral, koreacentral

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Free Tier
      operationId: createFreeTierCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFreeTierClusterRequest'
            examples:
              PostFreeTierClusterExample1:
                value:
                  name: Free-Tier-Cluster-1
                  description: My first test AWS cluster for multiple services.
                  cloudProvider:
                    type: aws
                    region: us-east-2
                    cidr: 10.1.30.0/23
      responses:
        '202':
          description: Successfully submitted job to create a free tier cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          description: Request validation error.  For example when client tries to create more than 1 free tier cluster in tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UnprocessableContent:
                  value:
                    httpStatusCode: 422
                    code: 422
                    message: Unable to process request to create trial cluster. Self service trials are limited to provisioning one cluster.
                    hint: Please review your request and ensure that all required parameters are correctly provided.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
    post:
      summary: Create Cluster
      description: |
        Creates a new Couchbase Capella provisioned cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Clusters
      operationId: postCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterRequest'
            examples:
              PostClusterAWSMultipleServiceGroups:
                value:
                  name: Test-Cluster-1
                  description: My first test AWS cluster for multiple services.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: io2
                          iops: 3005
                      numOfNodes: 2
                      services:
                        - analytics
                  availability:
                    type: multi
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterAWSSingleAvailabilityBasicPlan:
                value:
                  name: Test-Cluster-2
                  description: My test AWS cluster for single availability and basic plan.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: io2
                          iops: 3000
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                  availability:
                    type: single
                  support:
                    plan: basic
                    timezone: PT
              PostClusterAWSWithoutServerVersion:
                value:
                  name: Test-Cluster-6
                  description: My test AWS cluster without Couchbase Server version.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: io2
                          iops: 3005
                      numOfNodes: 2
                      services:
                        - analytics
                  availability:
                    type: multi
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterAWSWithServerVersionAndMaxNodes:
                value:
                  name: Test-Cluster-7
                  description: My test AWS cluster for Couchbase Server version 7.1.0.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                      numOfNodes: 27
                      services:
                        - data
                        - query
                        - index
                        - search
                  availability:
                    type: multi
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterAWSWithServerWithMaxNodes:
                value:
                  name: Test-Cluster-8
                  description: My test AWS cluster with max nodes.
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: io2
                          iops: 3005
                      numOfNodes: 24
                      services:
                        - analytics
                  availability:
                    type: single
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterAzurePremiumDisk:
                value:
                  name: Test-Cluster-3
                  description: My first test Azure cluster.
                  cloudProvider:
                    type: azure
                    region: eastus
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          type: P6
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          type: P10
                      numOfNodes: 4
                      services:
                        - analytics
                  availability:
                    type: single
                  support:
                    plan: developer pro
                    timezone: ET
              PostClusterAzureUltraDisk:
                value:
                  name: Test-Cluster-4
                  description: My second test Azure cluster with Ultra.
                  cloudProvider:
                    type: azure
                    region: eastus
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 1024
                          type: Ultra
                          iops: 2000
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                        - analytics
                  availability:
                    type: multi
                  support:
                    plan: developer pro
                    timezone: PT
              PostClusterAzureWithAutoExpansion:
                value:
                  name: Test-Cluster-5
                  description: My third test Azure cluster.
                  cloudProvider:
                    type: azure
                    region: eastus
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          type: P6
                          autoExpansion: true
                      numOfNodes: 3
                      services:
                        - data
                        - index
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          type: P6
                          autoExpansion: false
                      numOfNodes: 3
                      services:
                        - query
                  availability:
                    type: single
                  support:
                    plan: developer pro
                    timezone: ET
              PostClusterGCP:
                value:
                  name: Test-Cluster-5
                  description: My first test GCP cluster.
                  cloudProvider:
                    type: gcp
                    region: us-east1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 64
                          type: pd-ssd
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                  availability:
                    type: single
                  support:
                    plan: basic
                    timezone: ET
              PostCMEKCluster:
                value:
                  name: CMEKCluster
                  description: My first test AWS cluster for multiple services.
                  cmekId: ffffffff-aaaa-1414-eeee-000000000000
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.2'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: io2
                          iops: 3005
                      numOfNodes: 2
                      services:
                        - analytics
                  availability:
                    type: multi
                  support:
                    plan: enterprise
                    timezone: PT
              PostClusterEnabledPrivateDNSResolution:
                value:
                  name: Test-Cluster-1
                  description: My test AWS cluster with Private DNS Resolution enabled.
                  enablePrivateDNSResolution: true
                  cloudProvider:
                    type: aws
                    region: us-east-1
                    cidr: 10.1.30.0/23
                  couchbaseServer:
                    version: '7.6'
                  serviceGroups:
                    - node:
                        compute:
                          cpu: 4
                          ram: 16
                        disk:
                          storage: 50
                          type: gp3
                          iops: 3000
                      numOfNodes: 3
                      services:
                        - data
                        - query
                        - index
                        - search
                    - node:
                        compute:
                          cpu: 4
                          ram: 32
                        disk:
                          storage: 50
                          type: io2
                          iops: 3005
                      numOfNodes: 2
                      services:
                        - analytics
                  availability:
                    type: multi
                  support:
                    plan: developer pro
                    timezone: PT
      responses:
        '202':
          description: Successfully created a cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Clusters
      description: |
        Lists all the clusters under the organization.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager
        - Project Viewer
        - Database Data Reader/Writer
        - Database Data Reader

        Returned set of clusters is reduced to what the caller has access to view.
        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Clusters
      operationId: listClusters
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/ClustersSortBy'
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed all the clusters under the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClustersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/freeTier/{clusterId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: Get Free Tier Cluster
      description: |
        Get details of the free tier cluster.

        While only cluster name, description, CSP, region and CIDR are configurable, other read only fields are retrieved.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer
         - Database Data Reader/Writer
         - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Free Tier
      operationId: getFreeTierCluster
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully got the free tier cluster.
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - name
                  - description
                  - configurationType
                  - connectionString
                  - cloudProvider
                  - couchbaseServer
                  - serviceGroups
                  - availability
                  - support
                  - currentState
                  - audit
                properties:
                  id:
                    type: string
                    format: uuid
                    example: ffffffff-aaaa-1414-eeee-000000000000
                    description: The ID of the cluster created.
                  appServiceId:
                    type: string
                    format: uuid
                    example: ffffffff-aaaa-1414-eeee-000000000000
                    description: The ID of the linked App Service.
                  name:
                    type: string
                    description: Name of the cluster (up to 256 characters).
                    example: Test Cluster
                    maxLength: 256
                  description:
                    type: string
                    description: Description of the cluster (up to 1024 characters).
                    example: Description of the cluster
                    maxLength: 1024
                  configurationType:
                    $ref: '#/components/schemas/ConfigurationType'
                  connectionString:
                    type: string
                    description: ConnectionString specifies the Capella database endpoint for your client connection.
                    example: 'couchbases://cb.irxmynm6vekhe5.cloud.couchbase.com'
                  cloudProvider:
                    $ref: '#/components/schemas/CloudProvider'
                  couchbaseServer:
                    $ref: '#/components/schemas/CouchbaseServer'
                  serviceGroups:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceGroup'
                  availability:
                    $ref: '#/components/schemas/Availability'
                  support:
                    type: object
                    required:
                      - plan
                      - timezone
                    properties:
                      plan:
                        type: string
                        enum:
                          - free
                        example: free
                      timezone:
                        $ref: '#/components/schemas/SupportTimezone'
                  currentState:
                    $ref: '#/components/schemas/CurrentState'
                  audit:
                    $ref: '#/components/schemas/CouchbaseAuditData'
                  cmekId:
                    type: string
                    example: ffffffff-aaaa-1414-eeee-000000000000
                    description: The ID of the CMEK Key.
                  enablePrivateDNSResolution:
                    type: boolean
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update Free Tier Cluster
      description: |
        Updates an existing free tier cluster.  Only name and description are configurable.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      parameters:
        - $ref: '#/components/parameters/If-Match'
      tags:
        - Free Tier
      operationId: updateFreeTierCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFreeTierClusterRequest'
      responses:
        '204':
          description: Successfully updated free tier cluster.
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Free Tier Cluster
      description: |
        Deletes an existing free tier cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Free Tier
      operationId: deleteFreeTierCluster
      responses:
        '202':
          description: Successfully submitted request to delete the free tier cluster.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: Get Cluster
      description: |
        Fetches the details of the given cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer
         - Database Data Reader/Writer
         - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Clusters
      operationId: getCluster
      responses:
        '200':
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          description: Successfully fetched the cluster based on the clusterId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClusterResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update Cluster
      description: |
        Updates an existing cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      parameters:
        - $ref: '#/components/parameters/If-Match'
      tags:
        - Clusters
      operationId: putCluster
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusterRequest'
      responses:
        '204':
          description: Successfully submitted request to update cluster.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Cluster
      description: |
        Deletes an existing cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Clusters
      operationId: deleteCluster
      parameters:
        - name: retainsnapshotbackups
          in: query
          description: Retain snapshot backups parameter specifies whether to retain snapshot backups after cluster deletion.
          required: false
          schema:
            type: boolean
            example: true
      responses:
        '202':
          description: Successfully deleted the cluster by its clusterId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/freeTier/{clusterId}/activationState':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      summary: Turn On Free Tier Cluster
      description: |
        Turn free tier cluster on.  It will also turn on the linked app services, if any.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Free Tier
      operationId: freeTierClusterOn
      responses:
        '202':
          description: Successfully switched the free tier cluster to on state.
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Turn Off Free Tier Cluster
      description: |
        Turn free tier cluster off.

        - Turning off your cluster turns off the compute for your cluster but the storage remains.
        All of the data, schema (buckets, scopes, and collections), and indexes remain, as well as cluster configuration, including users and allow lists.

        - Turning off cluster will also turn off any linked app services.

         In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Free Tier
      operationId: freeTierClusterOff
      responses:
        '202':
          description: Successfully switched the free tier cluster to off state.
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/activationState':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      summary: Turn On Cluster
      description: |
        Turn cluster on.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Clusters
      operationId: clusterOn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterOnRequest'
            examples:
              ClusterOnAppServiceOn:
                value:
                  turnOnLinkedAppService: true
              ClusterOnAppServiceOff:
                value:
                  turnOnLinkedAppService: false
      responses:
        '202':
          description: Successfully switched the cluster to on state.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Turn Off Cluster
      description: |
        Turn cluster off.

        - Turning off your cluster turns off the compute for your cluster but the storage remains.
        All of the data, schema (buckets, scopes, and collections), and indexes remain, as well as cluster configuration, including users and allow lists.

        - Turning off cluster will also turn off any linked app services.

        - Turning off cluster will not stop charges being incurred for Data API.

         In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Clusters
      operationId: clusterOff
      responses:
        '202':
          description: Successfully switched the cluster to off state.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/onOffSchedule':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      summary: Create Cluster On/Off schedule
      description: |
        This provides the means to add a new cluster on/off schedule.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - On/Off Schedule
      operationId: postOnOffSchedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterOnOffSchedule'
            examples:
              PostClusterOnOffSchedule:
                value:
                  timezone: US/Pacific
                  days:
                    - day: monday
                      state: custom
                      from:
                        hour: 12
                        minute: 30
                      to:
                        hour: 14
                        minute: 30
                    - day: tuesday
                      state: custom
                      from:
                        hour: 21
                        minute: 30
                      to:
                        hour: 23
                        minute: 30
                    - day: wednesday
                      state: 'on'
                    - day: thursday
                      state: 'on'
                    - day: friday
                      state: custom
                      from:
                        hour: 12
                        minute: 30
                      to:
                        hour: 15
                        minute: 30
                    - day: saturday
                      state: 'off'
                    - day: sunday
                      state: 'off'
              PostClusterOnOffScheduleDefaultBoundaryWithoutToBody:
                value:
                  timezone: US/Pacific
                  days:
                    - day: monday
                      state: custom
                      from:
                        hour: 14
                        minute: 30
                    - day: tuesday
                      state: custom
                      from:
                        hour: 22
                        minute: 30
                    - day: wednesday
                      state: 'on'
                    - day: thursday
                      state: 'on'
                    - day: friday
                      state: custom
                      from:
                        hour: 12
                        minute: 30
                    - day: saturday
                      state: 'off'
                    - day: sunday
                      state: 'off'
              PostClusterOnOffScheduleDefaultsBoundaryWithoutHourMinute:
                value:
                  timezone: US/Pacific
                  days:
                    - day: monday
                      state: custom
                      from:
                        hour: 12
                        minute: 30
                      to:
                        hour: 14
                        minute: 30
                    - day: tuesday
                      state: custom
                      from:
                        hour: null
                        minute: null
                      to:
                        hour: 14
                        minute: null
                    - day: wednesday
                      state: 'on'
                    - day: thursday
                      state: 'on'
                    - day: friday
                      state: custom
                      from:
                        hour: 15
                        minute: null
                    - day: saturday
                      state: 'off'
                    - day: sunday
                      state: 'off'
              PostClusterOnOffScheduleDefaultsBoundary:
                value:
                  timezone: US/Pacific
                  days:
                    - day: monday
                      state: custom
                      from:
                        hour: null
                        minute: 30
                      to:
                        hour: 5
                        minute: 30
                    - day: tuesday
                      state: custom
                      from:
                        hour: 21
                        minute: null
                      to: null
                    - day: wednesday
                      state: 'on'
                    - day: thursday
                      state: 'on'
                    - day: friday
                      state: custom
                      from:
                        hour: 12
                        minute: 30
                      to:
                        hour: 14
                        minute: null
                    - day: saturday
                      state: 'off'
                    - day: sunday
                      state: 'off'
              PostClusterOnOffScheduleDefaultsBoundaryWithoutHourMinuteBody:
                value:
                  timezone: US/Pacific
                  days:
                    - day: monday
                      state: custom
                      from:
                        minute: 30
                      to:
                        hour: 14
                        minute: 30
                    - day: tuesday
                      state: custom
                      from:
                        hour: 21
                      to:
                        hour: 23
                    - day: wednesday
                      state: 'on'
                    - day: thursday
                      state: 'on'
                    - day: friday
                      state: custom
                      from:
                        hour: 12
                      to:
                        hour: 15
                        minute: 30
                    - day: saturday
                      state: 'off'
                    - day: sunday
                      state: 'off'
      responses:
        '204':
          description: Successfully created the cluster on/off schedule based on the clusterId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get Cluster On/Off schedule
      description: |
        Fetches the details of the cluster on/off schedule for the given cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - On/Off Schedule
      operationId: getOnOffSchedule
      responses:
        '200':
          description: Successfully fetched the cluster on/off schedule based on the clusterId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterOnOffSchedule'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Update Cluster On/Off schedule
      description: |
        This provides the means to update an existing cluster on/off schedule.

        In order to access this endpoint, the provided API key must have at least one of the roles referenced below:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - On/Off Schedule
      operationId: putOnOffSchedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterOnOffSchedule'
      responses:
        '204':
          description: Successfully updated the cluster on/off schedule based on the clusterId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Cluster On/Off schedule
      description: |
        Deletes the cluster on/off schedule for the given cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - On/Off Schedule
      operationId: deleteOnOffSchedule
      responses:
        '204':
          description: Successfully deleted the cluster on/off schedule by its clusterId.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/auditLog':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    put:
      summary: Update Cluster Audit Log Configuration
      description: |
        Updates the audit log configuration for the cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
          - Organization Owner
          - Project Owner
          - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Audit Logs
      operationId: putClusterAuditSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterAuditSettingsRequest'
            examples:
              PutClusterEnableAuditLogging:
                value:
                  auditEnabled: true
                  disabledUsers:
                    - domain: local
                      name: '@eventing'
                  enabledEventIDs:
                    - 8243
                    - 8255
      responses:
        '204':
          description: Successfully updated the cluster audit log configuration.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: Get Cluster Audit Log Configuration
      description: |
        Fetches information on whether audit logging is enabled, and which event IDs are enabled.

        To learn more about cluster audit logs, please refer to [audit management](https://docs.couchbase.com/cloud/security/audit-management.html).

        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer
         - Database Data Reader/Writer
         - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Audit Logs
      operationId: getClusterAuditSettings
      responses:
        '200':
          description: Successfully retrieved the cluster audit log settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClusterAuditSettingsResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/auditLogEvents':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    get:
      summary: List Filterable Audit Log Events
      description: |
        Retrieves a list of audit event IDs. The list of filterable event IDs can be specified while configuring audit log for cluster.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer
         - Database Data Reader/Writer
         - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Audit Logs
      operationId: getAuditLogEventIDs
      responses:
        '200':
          description: Successfully retrieved audit event Ids.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuditLogEventsResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/auditLogExports':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
    post:
      summary: Create Cluster Audit Log Export job
      description: |
        Creates a new audit log export job.

        Audit Logs for the last 30 days can be requested, otherwise they are purged. A pre-signed URL to a s3 bucket location is returned, which is used to download these audit logs.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
          - Organization Owner
          - Project Owner
          - Project Manager
          - Project Viewer
          - Database Data Reader/Writer
          - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Audit Logs
      operationId: postAuditLogExport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterAuditLogExportRequest'
            examples:
              PostClusterCreateAuditLogExport:
                value:
                  start: '2022-09-04T00:56:07.000Z'
                  end: '2022-09-05T04:56:07.000Z'
      responses:
        '202':
          description: Successfully created audit export job for the cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusterAuditLogExportResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: Request validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                StartTooFarInPast:
                  value:
                    httpStatusCode: 422
                    code: 4033
                    message: Requested audit log export time range is invalid because the start time is more than 30 days in the past.
                    hint: Please specify start time less than 30 days ago.
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Cluster Audit Log Export Jobs
      description: |
        Lists all the audit log export jobs and shows the status for each job.

        It will show the pre-signed URL if the export was successful, a failure error if it was unsuccessful or a message saying no audit logs available if there were no audit logs found.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer
         - Database Data Reader/Writer
         - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Audit Logs
      operationId: listAuditLogExports
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Successfully lists all audit export jobs for the cluster.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClusterAuditLogExportsResponse'
              example:
                cursor:
                  pages:
                    last: 1
                    next: 1
                    page: 1
                    perPage: 10
                    previous: 1
                    totalItems: 2
                  hrefs:
                    first: 'https://cloudapi.cloud.couchbase.com/v4/organizations/ffffffff-aaaa-1414-eeee-000000000000/projects/ffffffff-aaaa-1414-eeee-000000000000/clusters/ffffffff-aaaa-1414-eeee-000000000000/auditLogExports?page=1&perPage=10'
                    last: 'https://cloudapi.cloud.couchbase.com/v4/organizations/ffffffff-aaaa-1414-eeee-000000000000/projects/ffffffff-aaaa-1414-eeee-000000000000/clusters/ffffffff-aaaa-1414-eeee-000000000000/auditLogExports?page=1&perPage=10'
                    next: 'https://cloudapi.cloud.couchbase.com/v4/organizations/ffffffff-aaaa-1414-eeee-000000000000/projects/ffffffff-aaaa-1414-eeee-000000000000/clusters/ffffffff-aaaa-1414-eeee-000000000000/auditLogExports?page=1&perPage=10'
                    previous: ''
                data:
                  - createdAt: '2023-05-16T06:43:46.264296574Z'
                    exportId: d9db8594-4d0d-43b5-8dfe-1a6679d5b7d3
                    start: '2023-05-15T04:56:07Z'
                    end: '2023-05-16T06:43:46.255479842Z'
                    status: Failed
                  - createdAt: '2023-05-16T06:39:33.745602046Z'
                    exportId: 624752e7-4600-4007-9a29-15d1323fbd0c
                    start: '2023-05-15T04:56:07Z'
                    end: '2023-05-16T06:39:33.732661698Z'
                    status: Queued
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/auditLogExports/{auditLogExportId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/AuditLogExportId'
    get:
      summary: Get Cluster Audit Log Export
      description: |
        Fetches the status of a single audit log export job.

        It will show the pre-signed URL if the export was successful, a failure error if it was unsuccessful or a message saying no audit logs available if there were no audit logs found during the given timeframe.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Project Owner
         - Project Manager
         - Project Viewer
         - Database Data Reader/Writer
         - Database Data Reader

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - Audit Logs
      operationId: getAuditLogExport
      responses:
        '200':
          description: Successfully retrieved audit export job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClusterAuditLogExportResponse'
              examples:
                InProgress:
                  value:
                    createdAt: '2023-05-16T04:00:08.870076042Z'
                    auditLogExportId: 40b9318a-cc93-458d-bc3e-7d4ffa778386
                    start: '2023-05-15T04:56:07Z'
                    end: '2023-05-16T04:56:07Z'
                    status: In Progress
                Queued:
                  value:
                    createdAt: '2023-05-16T04:00:08.870076042Z'
                    auditLogExportId: 40b9318a-cc93-458d-bc3e-7d4ffa778386
                    start: '2023-05-15T04:56:07Z'
                    end: '2023-05-16T04:56:07Z'
                    status: Queued
                Failed:
                  value:
                    createdAt: '2023-05-16T04:00:08.870076042Z'
                    auditLogExportId: 40b9318a-cc93-458d-bc3e-7d4ffa778386
                    start: '2023-05-15T04:56:07Z'
                    end: '2023-05-16T04:56:07Z'
                    status: Failed
                Completed:
                  value:
                    createdAt: '2023-05-16T04:00:08.870076042Z'
                    auditLogExportId: 40b9318a-cc93-458d-bc3e-7d4ffa778386
                    start: '2023-05-15T04:56:07Z'
                    end: '2023-05-16T04:56:07Z'
                    status: Completed
                    auditLogDownloadURL: 'https://cb-audit-logs-ffffffff-aaaa-1414-eeee-000000000000.s3.amazonaws.com/export/audit-logs-cluster-ffffffff-aaaa-1414-eeee-000000000000-from-2222-08-25%2007%3A52%3A44.377%20%2B0000%20UTC-to-2222-09-01%2007%3A52%3A44.377%20%2B0000%20UTC.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=JX7GZ5Q1WK9X7GZ5Q1WJF%2F20220901%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220901T080237Z&X-Amz-Expires=259200&X-Amz-Security-Token=9qD87zY0m2fT4V3x6hC1sW5B2kEuG9jP7rA4N8Q0bO6lK5I3&X-Amz-SignedHeaders=host&X-Amz-Signature=k9X7gZ5Q1W'
                    expiration: '2023-05-19T04:00:08.870076042Z'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/cmek':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      summary: Create Key Metadata
      description: |
        Initializes the metadata record for a customer-managed encryption key stored in AWS or GCP, linking it to the organization.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: postCMEKMetadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCMEKMetadata'
      responses:
        '200':
          description: Successfully created the encryption key metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCMEKMetadataResponse'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Key Metadata
      description: |
        Retrieves detailed metadata for all customer-managed encryption keys associated with the organization.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Organization Member

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: getKeyMetadataList
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - in: query
          name: sortBy
          description: Sets the order of how you would like to sort the results and the key you would like to order by.
          example:
            - name
          required: false
          schema:
            type: array
            items:
              type: string
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully listed the detailed metadata for all encryption keys associated with the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCMEKMetadataListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/cmek/{cmekId}/history':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/CMEKId'
    get:
      summary: List Key Rotation History
      description: |
        Retrieves the full history of rotations for a specific customer-managed encryption key within the organization.
        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Organization Member
        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: listCMEKHistory
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - in: query
          name: sortBy
          description: |
            Sets the order of how you would like to sort the results and the key you would like to order by. Valid fields to sort the results are: **active**, **associatedAt**, **associatedBy**, **key**
          example: active
          required: false
          schema:
            type: string
            enum:
              - active
              - associatedAt
              - associatedBy
              - key
        - $ref: '#/components/parameters/SortDirection'
      responses:
        '200':
          description: Successfully fetched the key rotation history based on its ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCMEKHistoryMetadataListResponse'
              examples:
                listCMEKHistory:
                  value:
                    cursor:
                      hrefs: {}
                      pages:
                        last: 1
                        page: 1
                        perPage: 2
                        totalItems: 2
                    data:
                      - config:
                          arn: 'arn:aws:kms:us-west-2:123456789012:key/12345678-1234-1234-1234-123456789012'
                        active: true
                        associatedBy: ffffffff-aaaa-1414-eeee-000000000000
                        associatedAt: '2023-09-01T12:34:56Z'
                      - config:
                          arn: 'arn:aws:kms:us-west-2:000000000000:key/00000000-0000-0000-0000-000000000000'
                        active: false
                        associatedBy: ffffffff-aaaa-1414-eeee-000000000000
                        associatedAt: '2023-09-01T12:34:56Z'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/cmek/{cmekId}':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/CMEKId'
    get:
      summary: Get Key Metadata
      description: |
        Retrieves the full metadata details for a specific customer-managed encryption key within the organization.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
         - Organization Owner
         - Organization Member

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: getKeyMetadata
      responses:
        '200':
          description: Successfully fetched the encryption key details based on its ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCMEKMetadata'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      summary: Rotate Key
      description: |
        Initiates the process to rotate a customer-managed encryption key and update its associated metadata within the system.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: rotateCMEKKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateCMEKKey'
      responses:
        '204':
          description: Successfully submitted request to rotate the encryption key.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      summary: Delete Key Metadata
      description: |
        Permanently removes the specified customer-managed encryption key's metadata from the organization's account.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: deleteKeyMetadata
      responses:
        '204':
          description: Successfully deleted the the specified encryption key's metadata by its ID.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/cmek/{cmekId}/associate':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/CMEKId'
    post:
      summary: Associate Key with Cluster
      description: |
        Redeploys the cluster and encrypts the disks with the newly associated customer-managed encryption key.
        Throws an error before redeploying the cluster if the customer-managed encryption key is inaccessible.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: AssociateCMEK
      responses:
        '204':
          description: Successfully associated the key with the cluster and encrypted the disks.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/projects/{projectId}/clusters/{clusterId}/cmek/{cmekId}/unassociate':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ClusterId'
      - $ref: '#/components/parameters/CMEKId'
    post:
      summary: Unassociate Key from Cluster
      description: |
        Removes the customer-managed encryption key associated with the cluster, which redeploys the cluster and removes any encryption on the disks.
        This does not delete the customer-managed encryption key itself since the same key could be used across clusters.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Project Owner
        - Project Manager

        To learn more, see [Organization, Project, and Database Access Overview](https://docs.couchbase.com/cloud/organizations/organization-projects-overview.html).
      tags:
        - CMEK
      operationId: UnassociateCMEK
      responses:
        '204':
          description: Successfully disassociated the key from the cluster and removed encryption.
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
  '/v4/organizations/{organizationId}/users':
    parameters:
      - $ref: '#/components/parameters/OrganizationId'
    post:
      summary: Create User
      description: |
        Invites a new user under the organization.

        After making a REST API request, an invitation email is triggered and sent to the user.
        Upon receiving the invitation email, the user is required to click on a provided URL, which will redirect them to a page with a user interface (UI) where they can set their username and password.

        The modification of any personal information related to a user can only be performed by the user through the UI.
        Similarly, the user can solely conduct password updates through the UI.

        The "caller" possessing Organization Owner access rights retains the exclusive user creation capability.
        They hold the authority to assign roles at the organization and project levels.

        At present, our support is limited to the resourceType of "project" exclusively.

        In order to access this endpoint, the provided API key must have the following role:
        - Organization Owner

        To learn more, see [Organization Roles](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html).
      tags:
        - Users
      operationId: postUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
            examples:
              CreateOrganizationMember:
                value:
                  name: John
                  email: john.doe@example.com
                  organizationRoles:
                    - organizationMember
                  resources:
                    - id: 550e8400-e29b-41d4-a716-446655440000
                      type: project
                      roles:
                        - projectViewer
                    - id: 550e8400-e29b-41d4-a716-446655440000
                      type: project
                      roles:
                        - projectDataReaderWriter
                description: 'At present, our support is limited to the resourceType of "project" exclusively. Furthermore, the role designation is solely related to roles at the project level.'
              CreateOrganizationOwner:
                value:
                  name: John
                  email: john.doe@example.com
                  organizationRoles:
                    - organizationOwner
                description: We don't need to explicitly add the resources field if the user is an organizationOwner
      responses:
        '201':
          description: Successfully sent invite to the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/AccessForbidden'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
        '422':
          $ref: '#/components/responses/UnprocessableContent'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List Users
      description: |
        Lists all the users in the organization and filter on the basis of projectId.

        In order to access this endpoint, the provided API key must have at least one of the following roles:
        - Organization Owner
        - Organization Member
        - Project Creator

        The results are always limited by the role and scope of the caller's privileges.

        When retrieving a list of users through a GET request, if a user holds the organization owner role, the response will exclude project-level permissions for those users. This is because organization owners have full access to all resources within the organization, making project-level permissions irrelevant for them.

        To learn more about the roles, see [Organization Roles](https://docs.couchbase.com/cloud/organizations/organization-user-roles.html) and [Project Roles](https://docs.couchbase.com/cloud/projects/project-roles.html).
      tags:
        - Users
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/UsersSortBy'
        - $ref: '#/components/parameters/SortDirection'
        - $ref: '#/components/parameters/ProjectIdQuery'
      responses:
        '200':
          description: Successfully listed all the user in the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
              examples:
                ApiKeyIsOrgOwner:
                  value:
                    data:
                      - id: ffffffff-aaaa-1414-eeee-000000000000
                        name: John
                        email: john.doe@example.com
                        status: verified
                        inactive: false
                        organizationId: ffffffff-aaaa-1414-eeee-000000000000
                        organizationRoles:
                          - organizationMember
                        lastLogin: '2023-07-17T07:05:39.116Z'
                        region: North America
                        timeZone: '(UTC +5:30) India Standard Time'
                        enableNotifications: false
                        expiresAt: '2023-07-17T07:05:39.116Z'
                        resources:
                          - id: f98e6c87-41e3-4faa-9df4-906e8d4f1aaf
                            type: project
                            roles:
                              - projectViewer
                          - id: b7c745ac-9fb8-4b63-a0e4-51230097a169
                            type: project
                            roles:
                              - projectDataReaderWriter
                          - id: 28b67422-63d5-46b1-9234-8ad4a1d2f7be
                            type: project
                            roles:
                              - projectDataReaderWriter
                          - id: e3942eaa-0f52-43da-963d-87a5b6cb3805
                            type: project
                            roles:
[...]
