name: Lint
on: [pull_request]

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed for `only-new-issues` to compare diffs
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
          cache: false
      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: cache-${{ github.run_id }}
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v1.64.2
          args: "--config .golangci.yml --out-format=colored-line-number"
          only-new-issues: true

  tfproviderlint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Run Terraform check
        run: make tfcheck

